AUTH_SECRET="change-this-before-production"
TEACHER_NAME="Dra. Laura Mendoza"
TEACHER_EMAIL="laura.mendoza@universidad.edu"
TEACHER_PASSWORD="ProfesoraAreandina2026!"
NEXT_PUBLIC_API_BASE_URL="http://localhost:4000/api"
